[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = [
  "Elias Tazartes <@eikix>",
  "Clement Walter <@clementwalter>",
  "Gregory Edison <@greged93>",
  "Johann Bestowrous <@jobez>",
  "Harsh Bajpai <@bajpai244>",
  "Danilo Kim <@danilowhk>",
  "Fred Tupas <@ftupas>",
]
description = "EF standard testing for Kakarot"
homepage = "https://github.com/kkrt-labs"
repository = "https://github.com/kkrt-labs/ef-tests"
readme = "./README.md"
license = "MIT"

[profile.dev]
incremental = true

[workspace.dependencies]
# Eth deps
ef-tests = { git = "https://github.com/paradigmxyz/reth.git", tag = "v0.1.0-alpha.10", features = [
  "ef-tests",
] }
ethers-signers = { git = "https://github.com/gakonst/ethers-rs.git", tag = "v2.0" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth.git", tag = "v0.1.0-alpha.10" }
revm-primitives = { git = "https://github.com/bluealloy/revm", rev = "516f62cc" }
reth-rlp = { git = "https://github.com/paradigmxyz/reth.git", tag = "v0.1.0-alpha.10" }

# Starknet deps
cairo-lang-casm = "2.3.1"
cairo-lang-compiler = "2.3.1"
cairo-lang-sierra = "2.3.1"
cairo-lang-starknet = "2.3.1"
cairo-lang-utils = "2.3.1"
cairo-vm = { version = "0.8.5", features = ["cairo-1-hints"] }
starknet_in_rust = { git = "https://github.com/lambdaclass/starknet_in_rust.git", version = "0.4", features = [
  "cairo-native",
] }
starknet = "0.5.0"
starknet-crypto = "0.6.1"
starknet_api = "0.4.1"

# Other
async-trait = "0.1.58"
bytes = "1"
chrono = { version = "0.4.26", features = ["serde"] }
ctor = "0.2.4"
dotenvy = "0.15.7"
eyre = "0.6.8"
lazy_static = "1.4.0"
num-bigint = { version = "0.4", features = ["serde"] }
num-integer = "0.1.45"
num-traits = "0.2"
proc-macro2 = "1.0.69"
quote = "1.0"
rayon = "1.8.0"
regex = "1.9.3"
reqwest = { version = "0.11.20", features = ["gzip"] }
rstest = "0.18.1"
syn = "2.0"
thiserror = "1.0.47"
tokio = { version = "1.21.2", features = ["macros"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
walkdir = "2.3.3"
zip = "0.6.6"

# Serde
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9.25"

# Log
log = "0.4.20"
