[workspace]
members = ["crates/ef-testing"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = [
  "Elias Tazartes <@eikix>",
  "Clement Walter <@clementwalter>",
  "Gregory Edison <@greged93>",
  "Johann Bestowrous <@jobez>",
  "Harsh Bajpai <@bajpai244>",
  "Danilo Kim <@danilowhk>",
]
description = "EF standard testing for Kakarot"
homepage = "https://github.com/kkrt-labs"
repository = "https://github.com/kkrt-labs/ef-tests"
readme = "./README.md"
license = "MIT"

[workspace.dependencies]
# Eth deps
ef-tests = { git = "https://github.com/paradigmxyz/reth.git", rev = "fb710e5", features = ["ef-tests"] }
reth-primitives = { git = "https://github.com/paradigmxyz/reth.git", rev = "fb710e5" }
revm-primitives = "1.1"
reth-rlp = { git = "https://github.com/paradigmxyz/reth.git", rev = "fb710e5" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth.git", rev = "fb710e5" }
revm-primitives = "1.1"
reth-rlp = { git = "https://github.com/paradigmxyz/reth.git", rev = "fb710e5" }

# Kakarot deps
hive-utils = { git = "https://github.com/kkrt-labs/kakarot-rpc.git" }
kakarot-rpc-core = { git = "https://github.com/kkrt-labs/kakarot-rpc.git" }

# Starknet deps
katana-core = { git = 'https://github.com/dojoengine/dojo', rev = "7893eed" }
dojo-test-utils = { git = 'https://github.com/dojoengine/dojo', rev = "7893eed" }    

starknet = "0.4.0"
starknet_api = { git = "https://github.com/starkware-libs/starknet-api", rev = "ecc9b6946ef13003da202838e4124a9ad2efabb0" }

# Other
bytes = "1"
ctor = "0.2.4"
eyre = "0.6.8"
rstest = "0.18.1"
tokio = { version = "1.21.2", features = ["macros"] }
walkdir = "2.3.3"

# Serde
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0"

[patch."https://github.com/starkware-libs/blockifier"]
blockifier = { git = "https://github.com/dojoengine/blockifier", rev = "c794d1b" }

[patch.crates-io]
cairo-felt = { git = "https://github.com/dojoengine/cairo-rs.git", rev = "262b7eb4b11ab165a2a936a5f914e78aa732d4a2" }
cairo-vm = { git = "https://github.com/dojoengine/cairo-rs.git", rev = "262b7eb4b11ab165a2a936a5f914e78aa732d4a2" }

revm = { git = "https://github.com/bluealloy/revm/", branch = "release/v25" }
revm-primitives = { git = "https://github.com/bluealloy/revm/", branch = "release/v25" }
ethers-core = { git = "https://github.com/gakonst/ethers-rs.git", rev = "7b7c623" }
