name: test

on:
  workflow_call: {}

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-test
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Setup rust env
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          components: llvm-tools-preview
          override: true
      - name: Retrieve cached dependencies
        uses: Swatinem/rust-cache@v2
      - name: fetch ef tests
        run: make setup
      - name: fetch Kakarot
        run: make setup-kakarot-v0 && make setup-kakarot-v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: run tests
        run: |
          make vm-tests-v0-ci > test_v0.out 2>&1
          cat test_v0.out
          make vm-tests-v1-ci > test_v1.out 2>&1
          cat test_v1.out
      - name: Retrieve ef-tests execution resources
        run: python scripts/compute_resources.py
        env:
          KAKAROT_VERSION: v0,v1
      # upload artifacts
      - name: upload resources
        uses: actions/upload-artifact@v3
        with:
          path: ./resources/
          name: resources-usage
